@mixin box-sizing() {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
@mixin border-radius($radius) {border-radius: $radius;}
@mixin box-shadow($val1,$val2,$val3,$shadown,$color) {
    -moz-box-shadow: $val1 $val2 $val3 $shadown $color;
    -webkit-box-shadow: $val1 $val2 $val3 $shadown $color;
    box-shadow: $val1 $val2 $val3 $shadown $color;
}
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

*{margin:0; padding:0;}
a {color:inherit; text-decoration: none; outline: none;}
img {border:none; max-width: 100%; outline: none;}
li {list-style-type: none;}
body {font:14px $Arial; color:$black; background: url(../images/bg.png) repeat 0 0; line-height: 1.2;
  @media (max-width: $mobile) {
    margin-top: 48px;
  }
}
h1, h2, h3 {font-family: $IABold;font-weight: normal;line-height: 1.22;}
h1 {text-transform: uppercase; font-size:22px; margin-bottom: 10px;
  @media (max-width: $mobile) {
    font-size: 16px;
  }
}
h2,h4 {font-size: 18px;
   @media (max-width: $mobile) {
    font-size: 14px;
  }
}
.home-content{
  h1.title,h2.title {font-size: 24px;text-transform: uppercase; margin:20px 0 30px;text-align: center; 
     @media (max-width: $mobile) {
      font-size: 15px; margin:10px 0 15px;
    }
  }
  p {font-size: 16px; line-height: 22px;
    @media (max-width: $mobile) {
      font-size: 14px; line-height: 18px;
    }
  }
}
.inner {width:$inner; margin:auto; @include clearfix;
  @media (max-width: $inner) {
    width: 100%; padding:0 20px; @include box-sizing;
  }
  @media (max-width: $mobile) {
    padding:0 10px; min-width: $mobile-min-width;
  }
}
.hide-mobile {
  @media (max-width: $mobile) {
    display: none !important;
  }
}
.hide-desktop {
   @media (min-width: $mobile+1) {
     display: none !important;
  }
}
.button {display: inline-block;white-space: nowrap;padding:0 20px;line-height: 35px;
 height: 35px;color:#fff;border:none; font-size: 18px;
  text-align: center;
  @media (max-width: $mobile) {
    height: 25px; line-height: 25px; font-size: 14px; padding:0 13px;
  }
}
.reg-yellow-button{background: url(../images/button1.png) no-repeat 0 0 $yellow; 
  font-size: 16px; color: $black;  padding-left: 15px;
  span {display: inline-block; background:url(../images/arr-b.png) no-repeat 0 center; 
    padding-left: 26px;
  }
}
.reg-blue-button {background: url(../images/button2.png) no-repeat 0 0 $blue; font-size: 16px; 
  padding-left: 15px;
  span {display: inline-block; background:url(../images/arr-w.png) no-repeat 0 center; 
    padding-left: 26px;
  }
}
.blue-bg {background-color: $blue;}
.yellow-bg {background-color: $yellow;}
.yellow1-bg {background-color: $yellow1;}
.green-bg {background-color: $green;}
.green1-bg {background-color: $green1;}
.brown-bg {background-color: $brown;}
.wood1-bg {background-color: $wood1;}
.clear {clear:both;}
.no-display {display: none;}

.blue-line:after {background-color: $blue;}
.green1-line:after {background-color: $green1;}
.wood-line:after {background-color: $wood;}
.wood1-line:after {background-color: $wood1;}
.orange1-line:after {background-color: $orange1;}
.orange-line:after {background-color: $orange;}

#main {padding-top: 30px; background: #fff; }
#main.tv1-page,#main.news-page { background: $grey;}
.top-banner {text-align: center; overflow: hidden; width: 100%;height: 225px;
  background-size: cover !important;background-position: center center !important;
  position: relative;background: url(../images/faq-banner.jpg) no-repeat center 0;
  img {width: 100%;}
  .inner {height: 100%;text-align: left; 
    h1 { color: #fff; display: inline-block; width: 350px;
      vertical-align: middle; padding-left: 14px; margin-top: 20px;
      br {display: none;}
    }
  }
}
.helper { display: inline-block;height: 100%;vertical-align: middle;}

/* Form */
.form-list {
  li { margin-bottom: 10px;
    label {display: block; font:15px $IA; letter-spacing: -0.5px;}
    .input-text {background: #fff; border-radius: 2px; border:none; 
      height: 30px; line-height: 30px\9; padding:2px;
      @include box-sizing(); width: 100%;
    }
    &.control {
      .button {border-radius: 2px;}
    }
  }
}

.tab-content {display: none;
  &.active {display: block;}
}
.shadown {cursor: pointer;
  &:hover {@include box-shadow(5px, 6px, 19px, 0px, #888);}
}
.zopim{
  bottom: 10px !important;
  right: 4px !important;

}
.zopim:first-child{
  opacity: 0 !important;
}