@mixin box-sizing() {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
@mixin border-radius($radius) {border-radius: $radius;}
@mixin box-shadow($val1,$val2,$val3,$shadown,$color) {
    -moz-box-shadow: $val1 $val2 $val3 $shadown $color;
    -webkit-box-shadow: $val1 $val2 $val3 $shadown $color;
    box-shadow: $val1 $val2 $val3 $shadown $color;
}
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
*{margin:0; padding:0;}
a {color:inherit; text-decoration: none;}
img {border:none; max-width: 100%;}
li {list-style-type: none;}
body {font:14px $Arial; color:$black; background: url(../images/bg.png) repeat 0 0; line-height: 1.2;}
h1, h2, h3 {font-family: $IABold;font-weight: normal;line-height: 1.22;}
h1 {text-transform: uppercase; font-size:28px; margin-bottom: 10px;}
h2 {font-size: 21px;}
.inner {width:1080px; margin:auto; @include clearfix;
  @media (max-width: 1080px) {
    width: 100%; padding:0 30px; @include box-sizing;
  }
}
.button {display: inline-block;white-space: nowrap;padding:0 20px;line-height: 35px;
 height: 35px;color:#fff;border:none; font-size: 18px;
  text-align: center;
}
.reg-yellow-button{background: url(../images/button1.png) no-repeat 0 0 $yellow; 
  font-size: 18px; color: $black;  padding-left: 15px;
  span {display: inline-block; background:url(../images/arr-b.png) no-repeat 0 center; 
    padding-left: 26px;
  }
}
.reg-blue-button {background: url(../images/button2.png) no-repeat 0 0 $blue; font-size: 18px; 
  padding-left: 15px;
  span {display: inline-block; background:url(../images/arr-w.png) no-repeat 0 center; 
    padding-left: 26px;
  }
}
.blue-bg {background-color: $blue;}
.yellow-bg {background-color: $yellow;}
.yellow1-bg {background-color: $yellow1;}
.green-bg {background-color: $green;}
.green1-bg {background-color: $green1;}
.brown-bg {background-color: $brown;}
.wood1-bg {background-color: $wood1;}
.clear {clear:both;}
.no-display {display: none;}

.blue-line:after {background-color: $blue;}
.green1-line:after {background-color: $green1;}
.wood-line:after {background-color: $wood;}
.wood1-line:after {background-color: $wood1;}
.orange1-line:after {background-color: $orange1;}
.orange-line:after {background-color: $orange;}

#main {padding-top: 30px; background: #fff; min-height:600px;}
#main.tv1-page,#main.news-page { background: $grey;}
.top-banner {text-align: center; overflow: hidden; width: 100%;height: 225px;
  position: relative;
  img {width: 100%;}
  .inner {height: 100%;text-align: left; 
    h1 { color: #fff; display: inline-block; line-height: 40px;
      vertical-align: middle; padding-left: 14px;
    }
  }
}
.helper { display: inline-block;height: 100%;vertical-align: middle;}
.arrow-left {background: url(../images/arrow-l.png) no-repeat 0 0; width:19px; height: 38px; position: absolute; top:50%; left: -19px; margin-top: -19px;}
.arrow-right {background: url(../images/arrow-r.png) no-repeat 0 0; width:19px; height: 38px; position: absolute; top:50%; right: -19px; margin-top: -19px;}
.box {background: #fff;@include clearfix; margin-bottom: 37px;
  .text{background: #fff;float: left; position: relative;padding-bottom: 100px;
    @include box-sizing; width: 50%;
    h1 {font-size: 22px; color:#fff; height: 43px; line-height: 43px; padding-left: 30px;} 
    .box-wrapper {font:bold 18px/24px $Arial;padding:30px;}
    .other {position:absolute;bottom:27px; left:38px; white-space: nowrap;width: 100%;
      @include box-sizing;padding-right: 63px;
      .button { 
        span {background: url(../images/arr-w.png) no-repeat right center; padding-right: 26px;
        display: inline-block;font-weight: normal;}
      }
      .product-logo {float: right;}
    }
  }
  .image { float: left;width: 50%;
    img {min-height: 318px; width: 100%;}
  }
}
/* Form */
.form-list {
  li { margin-bottom: 10px;
    label {display: block; font:15px $IA; letter-spacing: -0.5px;}
    .input-text {background: #fff; border-radius: 2px; border:none; 
      height: 30px; line-height: 30px\9; padding:2px;
      @include box-sizing(); width: 100%;
    }
    &.control {
      .button {border-radius: 2px;}
    }
  }
}

.tab-content {display: none;
  &.active {display: block;}
}