@import "_variables.scss";
@import "_modules.scss";

/* Homepage */
#header {background: #fff; height: 112px; border-bottom: 8px solid $yellow;
	.logo {width: 46%;float:left; padding-top: 25px; padding-left: 10px; @include box-sizing();}
	.menu {width: 50%; float: right; padding-top: 41px;}
}
.menu {
	li {float: left; position: relative; padding:5px 15px;
		a {font:20px/26px $IABold; display: inline-block;white-space: nowrap;
			&.home {text-indent: -99999px; background: url(../images/home-icon.png) no-repeat 0 0;width: 30px; height: 27px;}
		}
		&:first-child {margin-left:0;
			&:hover {background: none}
		}
		ul.sub-menu {display: none; position: absolute; top:37px; left:0;
			@include box-shadow(3px, 3px, 7px, 0px, rgba(0, 0, 0, 0.5)); background: #3b3b3b;
			li {background: #3b3b3b; padding:5px 12px;border-bottom: 1px solid #727272; display: block;
				color: #fff;width: 100%;@include box-sizing;
				a {font:normal 14px/24px $Arial; display: block;}
				&:hover {background: #222222; color: $yellow;}
				&:last-child {border-bottom: none;}
			}
		}
		&:hover {background: $yellow; border-top-left-radius: 3px; border-top-right-radius:3px;
			ul.sub-menu {display: block;}
		}
	}
}
.home-banner {background: url(../images/home-banner.jpg) no-repeat center 0 $blue;
 @include clearfix;padding-bottom: 7px;
	.text {text-align: right; color: #fff; padding-left: 20%;
		.caption {margin-top: 50px;
			h1 {font-size:30px; margin-bottom: 0; line-height: 40px;
				span {color: $yellow;display: block;}
			}
			p {font:20px $IA; letter-spacing: -0.5px;}
		}
	}
}
.call-me { margin-top: 55px;
	h2 {font: 25.5px/40px $IA; letter-spacing: -1px;}
	h1 {background: url(../images/phone.png) no-repeat 0 7px;
	 padding-left: 52px;background-size: 42px auto;
	 font-size:35px; display: inline-block;
		height: 54px; line-height: 50px;
	}
}
.register {@include box-sizing();width: 290px; background: $yellow; float: right; margin:15px 20px 15px 48px;
	padding:15px 20px;border-radius: 10px;@include box-shadow(5px, 5px, 0px, 0px, #c98000) ;
	h1 {font-size: 26px;}
	.form-list {
		li.control {margin:13px 0 0;}
		.button {color:#fff; font:bold 28px $Arial;text-transform: uppercase; text-align: center;
			background: url(../images/register-bt.png) no-repeat 0 0 $blue; height: 43px; 
			line-height: 43px;padding:0 43px;
		}
	}
}
#cboxLoadedContent .register{ margin:0;width: 500px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;}
.service { padding:0 46px; text-align: center;
	h1 { margin-bottom:30px;}
	.col {@include box-sizing; width: 45%;float: left;
		background: $grey;padding:35px;
		img {margin-bottom: 20px; width:36%;}
		h2 { text-transform: uppercase; margin-bottom: 10px;}
		p {font:20px/28px $IA; margin-bottom: 30px;}
		.button {border-radius: 2px; color: #fff;text-align: center; height: 40px; line-height: 40px;
			margin-bottom: 2px;padding:0 40px;
			&:hover {background-color: #fff; border:2px solid $blue; color: $black; margin-top: -2px; margin-left: -2px;
				margin-bottom: 0;
			}
		}
		&.dv {float: right;}
	}
}
.why-us {
	h1.title {text-align: center;  line-height: 50px; margin: 15px 0 25px;}
	.bg-wrapper {background: #efefef; padding: 30px 0;}
	.col {width: 23.45%; @include box-sizing; margin-right: 2%; float: left;
		&:nth-child(4) {margin-right: 0;}
		.bg { margin-bottom: 10px;height: 174px;text-align: center;
			img {vertical-align: middle;}
		 }
		.caption {
			.number {display: inline-block; width: 37px; height: 37px; margin-right: 10px;
			 	line-height:  37px;
				float: left;color:#fff; font-size: 22px; font-weight: bold;border-radius: 100%;text-align: center;
				margin-left: 10px;
			}
			h3 {font:bold 14px/37px $Arial; text-transform: uppercase;}
		}
	}
}
.intro {
	margin-top: 50px;
	.top {
		.left {position: relative;float: left;margin-right: 33px;width: 50%;
			img {height: 380px; width: 100%;}
			.top-conner {background: url(../images/top-conner.png) no-repeat 0 0; display: block; width: 76px; height: 43px;
				top:0; right:-1px; position: absolute;
			}
		}
		.right {background: $blue;color: #fff; padding:30px 20px 40px; height: 380px; 
			@include box-sizing;
			h1 {margin-bottom: 20px;}
			p {font: 18px/24px $IABold; margin-bottom: 20px; }
			.click {margin-top: 40px;}
		}
	}
	.bottom {
		.left {background: #fac809;height: 370px; color: #fff;padding:30px 20px 40px; 
			@include box-sizing;
			h1 {margin-bottom: 20px;text-align: right;}
			p {font:bold 18px/24px $Arial;margin-bottom: 20px;}
			.click {margin-top: 40px;}
		}
		.right{float: right;position: relative; width: 50%; margin-left: 25px;
			img {height: 370px;width:100%;}
		}
	}
}
.reg-now {margin-bottom: 40px;margin-top:10px;
	.inner { position: relative; background: $blue;}
	.reg {margin-top: 20px;position: absolute; top:50%; right:35px; margin-top: -22px;
		.button {font-size: 20px; line-height: 45px; height:45px;}
	}
	.text {text-align: right; overflow:hidden; padding-right: 290px;
		h1 {font-size: 22px; margin-bottom: 15px; color: $yellow;}
		p {font-size: 18px;line-height: 24px; color: #fff; }
	}
	&.yellow {
		.inner {
			background: #ffa800;
		}
		.text {text-align: right;
			h1 { color: $black;}
			p {color: $black; }
		}
	}
}
.easy-contact { margin-bottom: 30px;
	.top {text-align: center; margin-bottom: 30px;padding:0 60px;
		h1 { margin-bottom: 20px;}
		p {font-size: 20px;}
	}
	.col-group {
		.col {width: 31%; @include box-sizing; margin-right: 3%;text-align: center;float: left;
			&:last-child {margin-right: 0;}
			img {margin-bottom: 20px; width:45%; border-radius: 100%;@extend .shadown;}
			.caption {background: $grey; padding:20px; @include box-sizing;
				h1 { color: #0c2c81; margin-bottom: 20px; font-size: 22px;}
				p {font:18px/32px $Arial; letter-spacing: -1px;}
			}
		}
	}
}
#cboxLoadedContent .easy-contact {padding-top: 20px;}
.customer-say {
	background: url(../images/customer-say.jpg) no-repeat center 0 $blue;margin-bottom: 35px; 
	.bg-wrapper {background: url(../images/customer-say1.png) repeat 0 0;padding:30px 0;
		.title {color: #fff;text-align: center; margin-bottom: 50px;
			h1 {margin-bottom: 20px; padding:0 20px;}
			p {font-size: 20px; line-height: 28px}
		}
		.customer {
			.bubble {border-radius: 10px; background: #fff; padding:30px 30px 30px 37px;
			 position: relative;
				&:after {content: ""; position: absolute; bottom: -31px; right:13%; 
					background: url(../images/bubble-ar1.png) no-repeat;width: 54px; height: 31px; display: inline-block;
				}
				p {font-size: 16px; line-height: 24px; position: relative;display: inline-block;
					&:before {position: absolute;content: ""; background: url(../images/quote1.png) no-repeat 0 0; 
						top:-13px; left:-24px;width: 25px; height: 20px;
					}
					&:after {display:inline-block;content: ""; background: url(../images/quote2.png) no-repeat 0 0; 
						width: 25px; height: 20px;margin-bottom: -14px;
					}
				}
			}
			.person {color: #fff; margin-top: 33px; height: 108px;
				img {width: 108px; height: 108px; border-radius: 100%; display: inline-block; vertical-align: middle;}
				p{font: 15px/18px $IABold; vertical-align: middle; display: inline-block;}
			}
			.left {width: 50%; padding-right: 25px; @include box-sizing; float: left;
				.person {text-align: right;
					img { margin-left: 10px;}
					p{text-align: right;}
				}
			}
			.right{width: 50%; padding-left: 25px; @include box-sizing;float: left;
				.bubble {
					&:after {background-image: url(../images/bubble-ar2.png);right:auto; left:13%;}
				}
				.person {
					img { margin-right: 10px;}
				}
			}
		}
	}
}
.fb-comment {margin-bottom: 35px;}
.fb-likebox {margin-bottom: 35px;}

#footer {
	height: 54px; background: $blue; color: #fff;
	.footer-logo {float: left; margin-right: 54px;
		p {text-transform: uppercase; line-height: 54px; font-size: 12px;}
		img {vertical-align: middle; margin-left: 20px; padding-bottom: 5px;}
	}
	.footer-menu {
		li {line-height: 54px;float: left; white-space: nowrap;
			a {display: inline-block;border-right:1px solid #fff;font:14px/14px $IA;
			 padding:0 12px;
				&:hover {color: $yellow}
			}
			&:first-child {
				a {border-left:1px solid #fff;}
			}
		}
	}
	.footer-social {float: right;
		li {line-height: 54px; margin-right: 5px;float: left;
			a {display: inline-block;background: url(../images/social.png) no-repeat 0 0; 
				width: 32px; height: 30px;
				text-indent: -99999px;vertical-align: middle;background-size: 110px auto;
			}
			.fb {
				&:hover {background-position: 0 bottom;}
			}.tw {background-position: -39px 0;
				&:hover {background-position: -39px bottom;}
			}.yu {background-position: -79px 0;
				&:hover {background-position: -79px bottom;}
			}
		}
	}
}
#chat-me {display: inline-block; position: fixed; right: 5px; bottom:10px;
	.close {position: absolute; font-size: 20px; font-weight: bold; right:5px; top:0px;}
	.bubble {text-align: right; background: $yellow; padding:20px;position: relative;@include box-sizing;
		&:after {content: ""; position: absolute; bottom:-33px; right:53px; background: url(../images/arr-c.png) 0 0;
			width: 18px; height: 33px; display: inline-block;
		}
		h1 {font:24px $Arial; text-transform: none;}
		h2 {font:20px $Arial;text-transform: none;}
		p {font:bold 16px $Arial; margin: 10px 0;}
	}
	.click {float: right;border:4px solid #fff; @include box-shadow(2px, 2px, 5px, 0px, rgba(0, 0, 0, 0.6));
		display: inline-block;border-radius: 5px;margin-top: 39px;
		.button {border-radius: 5px;background: $blue;}
	}
}
/* FAQ */
.question-list { margin-bottom: 20px;
	h1.title {
		font-size: 30px; margin:20px 0 40px; text-align: center;
	}
	ul { @include clearfix;
		li {float: left; width: 20%; @include box-sizing; padding:0 12px;
			margin-bottom: 25px;text-align: center;
			&:first-child {padding-left: 0}
			&:last-child{padding-right: 0}
			.finner {padding:15px;background: #f6f7f9;height: 285px; @include box-sizing;@extend .shadown;
				.img-wrap {height: 158px;
					.helper { vertical-align: bottom;}
				}
				img {vertical-align: bottom;}
				h3 {margin-top: 20px;  font:bold 14px/24px $Arial; text-transform: uppercase;
					letter-spacing: 0;
				}
			}
		}
	}
}
/* News new */
.top-nmenu {position: relative;z-index: 10; @include clearfix(); margin-bottom: 26px;
	height: 51px; background: #0064be;color: #fff;
	h1 {display: inline-block;  padding-left: 15px; line-height: 51px; white-space: nowrap;}
}
.nmenu {float: right; margin-top: 12px;  margin-right: 10px;color: $black;
	li {background: #fff;
		a {font-size: 14px;display: block; padding:6px 10px 6px 22px;}
		.sub-menu {position: absolute; left:0; top:100%; width: 100%; display: none;
		 	padding-top: 7px; background: #fff;
		 	li:hover {background: $grey;}
		}
	}
	>li { float: left; min-width: 181px; margin-left: 10px;position: relative;
		>a {overflow: hidden;}
		>i {float: right; cursor: pointer; 
			background: url(../images/arr-down.png) no-repeat center center $yellow;
			width: 35px; height: 28px; display: inline-block;
		}
		&:hover {
			.sub-menu {display: block;}
		}
	} 
}
.flat-news { margin-bottom: 70px;
	.full-inner {@include clearfix(); margin:0 -10px 30px;}
	.col {float: left; padding: 0 10px; height: 297px;@include box-sizing();position: relative;
		&:last-child{padding-right: 0;}
		.inner-news {position: relative;}
		img {width: 100%; height: 297px;}
		.caption {width: 100%; padding-left: 22px;z-index: 2;
			position: absolute;bottom:-23px; left:0px; right:0;@include box-sizing();
			.caption-inner {background: #fff; padding:10px 15px 17px 14px;}
			i[class^="icon"] {background: url(../images/icon-n.png) no-repeat 0 0; display: inline-block; width: 24px;
			 height:21px; vertical-align: middle; padding-right: 3px; }
			h3.cat {margin-bottom: 14px; font-size: 11px; 
				text-transform: uppercase; font-weight: normal; 
				font-family: $Arial;}
			p {font:16px/20px $IABold; }
			p.hover-display {font:14px $IA normal;  height: 0px; display: block; 
				overflow: hidden;
				 -webkit-transition: all 0.6s ease;
				-moz-transition: all 0.6s ease;
				-o-transition: all 0.6s ease;
				transition: all 0.6s ease;
				span.divider {width: 50px;height: 1px;display: block;margin-bottom: 5px;
					background-color: #363636;margin-top: 12px;}
				span.date {color: #7b7b7b;line-height: 20px; }
				a.readmore {color: #2182b9; font-weight: bold; display: block; line-height: 17px;
					margin-top: 7px;
				}
			}
			&:after {content: ""; display: block; width: 100%; height: 3px;}
			i.icon-cty {background-position: 0 -55px;}
			i.icon-sp1 {background-position: 0 -100px;}
			&:hover {
				p.hover-display {height: 63px;}
			}
		}
	}
	.bignews {width:40%; }
	.smallnews {width: 20%;
		.caption  {
			.caption-inner  {padding-right: 5px;}
		}
	}
}
/* News detail */
#main.detail-page {background: $grey;
	padding-top: 0;
	.inner {background: #fff; padding-top: 30px;}
}
.breadcrumb {@include clearfix;margin-bottom: 20px;
	li{float: left; font-size: 14px;white-space: nowrap;
		&:after {content: "\203A";margin:0 5px; }
		&:last-child{ color:$blue1;
			&:after {content: ""; }
		}
	}
}
.detail-wrapper {width: 900px; margin:auto; margin-bottom: 40px;
	h1.title {margin-bottom: 40px; text-transform: none;font-size: 28px; }
	.content-detail { padding-left: 67px;
		h3 { font-size: 16px; padding-bottom: 5px;}
		h2 {font-size: 20px; margin-bottom: 20px; margin-top: 10px;}
		p {margin-bottom: 20px; font-size: 14px; line-height: 19px;}
	}
}
.share { float: right; @include clearfix; margin-right: 60px; width: 300px; margin-top: 40px;
	.title{font-size: 14px; margin-right: 16px; float: left; line-height: 28px;}
	li{float: left; margin-right: 15px; 
		img{width: 28px; vertical-align: middle;}
		&:last-child{margin-right: 0;}
	}
}
/* relates news */
.related-news { padding: 20px 0 40px;
	.inner {background: none !important;}
	.left {float: left; width: 48.9%;}
	.right {float: right; width: 48.9%;}
	.group-box {
		@include clearfix;
		.text{background: #fff;float: left; position: relative; padding:0px 30px 59px 36px;
		 @include box-sizing; height: 324px; width: 49%;
		 	h1.title-box {margin-bottom: 18px;font-size: 22px;line-height: 30px; text-transform: none;
		 		&:after {height: 3px;width: 72px;content: "";display: block;margin-top: 13px;}
		 	}
		 	.date {border-bottom: 1px solid #999; height: 45px; margin-bottom: 15px;
				p {line-height: 55px;font-size: 15px; font-weight: bold; }
			}
			p {font-size: 14px; line-height: 19px;}
			p.source {margin-top: 20px;}
			.other {position:absolute;bottom:27px; left:38px; white-space: nowrap;
				.more-link {font-size: 13px; text-transform: uppercase; color:#666666;
				 text-decoration: none; font-family: $IA; margin-left: 9px;}
				.button {
					border-radius: 4px;
					padding: 0 33px 0 25px;
					background: url(../images/arrow-button.png) no-repeat 86px center $orange;
					height: 33px;
					text-transform: uppercase;
					color: #fff;
					font: bold 12px/33px $IA;
				}
			}
		}
		.image { float: left; width: 51%;
			img {height: 324px; width: 100%;}
		}
	}
}
/* Tu Van*/
.tv-banner {
	background: url(../images/tv-banner.jpg) no-repeat center center;background-size: cover;
}
.buying-guide {text-align: center; margin-bottom: 50px;
	h2 {font-size: 22px; text-transform: uppercase; margin-bottom: 22px;}
	p {font-size: 22px; line-height: 30px;}
}
.agents { margin-bottom: 40px;
	h1.title {text-align: center; margin-bottom: 30px;}
	.tabs {@include clearfix;
		li {width: 33.33%; float: left; background-color: $blue; color: #fff;font-size:20px;  
			font-weight: bold; height: 60px; line-height: 60px; text-align: center;
			&.active {background: $yellow; color: $black;}
			a {display: block; height: 100%;}
			&.active {background-image: url(../images/arr-top.png);background-position:center bottom;
				background-repeat: no-repeat;
			}
		}
	}
	.tab-content {border:1px solid #c8c8c8;background: #f5f5f5;border-top: 0;
		.head { height: 89px;border-bottom:1px solid #c8c8c8;
			h1 {font:bold 20px $Arial; display: inline-block; line-height: 89px; padding-left:24px; 
				text-transform: none; 
			}
			.select-city { position: relative;float: right;margin-top: 17px; margin-right: 25px;
				.text-top {display: block; width: 100%; height: 100%; @include box-sizing;
					font-size: 18px; padding-left: 20px; line-height: 44px;cursor: default;
					background: url(../images/arr-select.png) right 0 no-repeat #fff;background-size: auto 100%;
					border:1px solid #999; width: 280px; height: 44px;
					&:focus {background: $blue;}
				}
				ul {display: none; background: #fff; border:1px solid #999; border-top: 0;position: absolute;
					left:0; top:44px; width: 100%; @include box-sizing;
					li{
						&:hover {background:#1e90ff; color: #fff; }
						a {display: block;padding:0 20px;line-height: 40px;}
					}
				}
			}
		}
		.agents-list {
			ul {
				li {border-bottom: 1px solid #c8c8c8; padding:15px 25px;font-size: 18px;
				 line-height: 30px;font-weight: bold;
					&:nth-child(2n) {background: #fff;}
					span.number {float: left; display: block;font-weight: bold;
					 margin-right: 25px; line-height: 43px;}
					>div {overflow: hidden;}
				}
			}
		}
	}
}
.showrooms { margin-bottom: 40px; @include clearfix;
	>h1 {text-align: center; margin-bottom: 40px;}
	.col {width: 32%; margin-right: 1.33%;  float: left;
		&:last-child {margin-right: 0;}
		.head {height: 60px; line-height: 60px;margin-top: 23px; text-align: center; color:#fff; background: $blue;
			cursor: pointer;
			h1 {text-transform: none; font:bold 20px/60px $Arial;}
			&.active{ margin-top: 0;background: $yellow; color: $black;}
		}
		ul {
			li {background: #f3f3f3; border-bottom: 1px solid #fff; padding:15px;
				span.number {float: left; display: block;font-size: 22px;font-weight: bold;
					 margin-right: 11px;}
				>div {overflow: hidden;}
				h3 {font:bold 18px/30px $Arial;}
				p {font-weight: bold; font-size:15px; line-height: 19px;}
				&:hover {
					span.number,h3 {color: $blue1;}
				}
			}
		}
	}
}
.warranty { padding:0 100px; margin-bottom: 50px;
	h1 {color: $blue1; font-size: 25px; margin: 15px 0 20px; letter-spacing: 0;}
	p {line-height: 35px; }
}
.products { margin-bottom: 40px;
	h1.title { margin:40px 0; text-align: center; letter-spacing: 0;}
	.thumbnail {width: 59%; float: left; @include box-sizing;  padding:0 28px 0 70px; }
	.specifications {width: 41%; float: right; @include box-sizing;
		li {@include clearfix; margin-bottom: 17px;
			.wrapper-img {background: #e6e7e9; width: 116px; height: 100px; float: left; margin-right: 30px;
				text-align: center;
				img {max-height: 100px; vertical-align: middle;}
			}
			.text {height: 100px;}
			h3 { letter-spacing: 0; vertical-align: middle; display: inline-block;}
		}
	}
}
.brands {
	h1.title { margin:30px 0; text-align: center; letter-spacing: 0;}
	ul {@include clearfix;
		li { width: 47%; @include box-sizing; margin-right: 5%; float: left; height: 354px; 
			margin-bottom: 20px;
			.wrapper-img {background: #efefef; text-align: center; height: 268px;
				img { vertical-align: middle;max-height: 268px; }
			}
			&:last-child {margin-right: 0;}
			.text {color: #fff; text-align: center;background: $blue1; height: 76px;
			 	padding:0 20px;
				h3 {font: 18px/22px $IA; display: inline-block;vertical-align: middle; 
				}
			}
		}
	}
}
.printed { @extend .brands;
	ul {
		li {width: 23%; margin-right: 2%;
			&:last-child {margin-right: 0;}
		}
	}
}
/* dich vu */
.dv-banner {background: url(../images/dv-banner.jpg) no-repeat center center; height: 282px;background-size: cover;}
.service-fix { padding-bottom:50px; text-align: center;
	h1.title {margin: 20px 0 40px;}
	.col {width: 29%; margin-right:6.5%;text-align: center;color: #58595b;float: left;
		&:last-child {margin-right: 0;}
		img {margin-bottom: 50px; width:57%; @extend .shadown;border-radius: 100%;}
		h2 {font-size: 20px; margin-bottom: 12px;}
		p {font-size: 17px;line-height: 22px;}
	}
}
.enjoy{ margin-bottom: 40px;
	.inner {padding:20px;
		.wrapper-img {background: #fff; padding:7px; float: left; margin-right: 35px;
			img {width:350px;}
		}
		.text {color: #fff;
			h1 { margin:20px 0;}
			p {font-weight: bold;font-size: 20px;}
			a.button {margin-top: 70px;}
		}
	}
}
/* Thu vien */
#main.thuvien-page {background: $grey;
	.inner {background: #fff; border-top: 5px solid $blue; padding:24px 45px;
		h1.title {margin:20px auto 30px; width: 327px; font-size: 25px; border-top: 2px solid $blue;text-align: center;
			span {display: inline-block; background: #fff; padding:0 15px;margin-top: -20px;
				white-space: nowrap;
			}
		}
	}
}

.thv-category { @include clearfix; margin-bottom: 50px;
	li {width: 30%; margin-right: 5%; float: left;@extend .shadown;
		&:last-child{margin-right: 0;}
		img {width: 100%; height: 219px;}
		a.title {display: block; height: 54px;line-height: 54px; text-align: center;
			font-size: 20px; 
			font-weight: bold;background: $blue; color: #fff;
			&:hover {background: $yellow; color: $black;}
		}
	}
}
.thv-images {
	li {width: 30%; margin-right: 5%; float: left; margin-bottom: 45px;
		&:last-child,&:nth-child(3n){margin-right: 0;}
		img {width: 100%; height: 210px;}
		.title {display: block; height: 47px;line-height: 47px;font-size: 19px; 
			background: $grey; padding-left: 13px;
			&:hover {background: $yellow;}
			span {font-size: 25px; }
		}
	}
}
.paging { text-align: center; margin:0 0 30px;
	li { font-size: 15px; border: 1px solid #ccc; padding:2px 5px; border-radius: 2px; margin-right: 2px;vertical-align: top;
		display: inline-block;
		span {background: $yellow;}
		&.current {background: $yellow;}
	}
}
#main.catalog-page .inner {padding-left:0; padding-right: 0; margin-bottom: 50px;
	.breadcrumb {padding-left: 30px;}
}
.thv-catalog {
	li {width: 50%; float: left; padding:30px 20px; @include box-sizing;
		.wrapper-img {width: 43%; float: left; @include box-sizing; margin-right: 40px;
			padding:13px 5px; @include box-shadow(null, 0, 0, 5px, #888); border-radius: 4px; position: relative;
			&:after {content: ""; background: $yellow; width: 2px; height: 90%; position: absolute;
				right:-24px; top:5%;
			}
			img {width: 100%;}
		}
		.text {overflow: hidden;
			h3 {display: block; font:bold 20px $Arial;
				margin-bottom: 5px;
				span {font-size: 22px;font-weight: normal;padding-right: 3px; }
			}
			p {font-size: 15px; line-height: 24px;
				span {font-size: 12px; font-weight: normal; color: #7b7b7b; font-style: italic;}
			}
			a.button {background: $blue;font-size: 13px; line-height: 30px; height: 30px; padding:0 15px;
				margin-top: 6px;
				&:hover {background: $yellow; color: $black;}
			}
		}
	}
	&.odd {
		li {
			&:first-child {background: $grey;}
		}
	}
	&.even {
		li {
			&:last-child {background: $grey;}
		}
	}
}
.thv-video {
	li {@include box-sizing;background: $black; padding:5px;
		a.title {color: #fff;font-size: 14px;}
		.wrapper-img {position: relative;}
		a.title {background: none; height: auto; line-height: 20px; padding:5px 7px;
			&:hover {background: none}
		}
		.play {position: absolute; top: 50%; left:50%; margin-left: -20px; margin-top: -15px; display: inline-block;
			img{width: auto; height: auto;}
		}
	}
}
#main.thuvien-page-detail {background: $grey; padding-bottom: 40px;
	.col-left {width: 300px; float: left; margin-right:30px;background: #fff;
		h1.title {background: $blue; font:bold 20px $Arial; color: #fff; padding-left: 20px; line-height: 48px; height: 48px;}
		ul {
			li {border-bottom: 1px dotted $black; background: url(../images/left-arr.png) no-repeat 93% center;
				 font-size: 20px; padding:10px 0 10px 20px;
				&:hover,&.active {background-color: $yellow;}
				a {display: block;}
			}
		}
	}
	.col-right {overflow: hidden; padding: 25px;
		background: #fff; border-top: 5px solid $blue;
		.video-detail {padding:10px; background: $black;width: 575px; margin:auto;}
	}
}
#email-form{width: 400px; padding:20px;
	.form-list {
		li {
			.input-text {border:1px solid #ccc;}
		}
	}
}
#call-form {width: 400px; padding:20px;text-align: center;
	.call-me {margin-top: 15px;}
}